<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Mid-Illinois Hematology &amp; Oncology Associates, Ltd.</title>
	<atom:link href="https://mihoaonline.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://mihoaonline.com</link>
	<description></description>
	<lastBuildDate>Wed, 24 Aug 2022 18:03:52 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.2</generator>

<image>
	<url>https://mihoaonline.com/wp-content/uploads/2019/06/cropped-final-color-e1561912651215-32x32.jpg</url>
	<title>Mid-Illinois Hematology &amp; Oncology Associates, Ltd.</title>
	<link>https://mihoaonline.com</link>
	<width>32</width>
	<height>32</height>
</image> 
</channel>
</rss>
