<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Mid-Illinois Hematology &amp; Oncology Associates, Ltd.	</title>
	<atom:link href="https://mihoaonline.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://mihoaonline.com</link>
	<description></description>
	<lastBuildDate>Wed, 24 Aug 2022 18:03:52 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.2</generator>
</channel>
</rss>
